Holaaa
body::-webkit-scrollbar{
    width: 6px;
    height: 10px;
    background-color: #004F6B;
}

body::-webkit-scrollbar-thumb{
    background-color: #007DAB;
    border-radius: 4px;
}

.cabecera{
    width: calc(100vw - var(--scrollbar));
    height: 60px;
    background-color: #112E38;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.container-cabecera{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-menu{
    height: 50px;
}

.img-menu img{
    height: 100%;
    width: auto;
}

.menu-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-pagina__contenido,
.menu-pagina__contenido::after,
.menu-pagina__contenido::before{
    content: '';
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ebebeb;
    border-radius: 6px;
    transition: .3s;
}

.menu-pagina__contenido::after{
    transform: translateY(5px);
}

.menu-pagina__contenido::before{
    transform: translateY(-9px);
}

.menu-pagina--activo > .menu-pagina__contenido{
    transform: rotate(45deg);
}

.menu-pagina--activo > .menu-pagina__contenido::before{
    transform: translateY(0) rotate(90deg); 
}

.menu-pagina--activo > .menu-pagina__contenido::after{
    transform: translateY(-4px);
}


.menu{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #112e38;
}

.menu p{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.menu ul li{
    display: block;
}

.menu ul li a{
    position: relative;
    transform: translateZ(0);
    display: block;
    padding: 10px 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 26px;
    font-family: "Lilita One", sans-serif;
    font-weight: 900;
    overflow: hidden;
    color: #fff;
    transition: .2s;
}

.menu ul .activo:hover a{
    color: #898437;
}

.menu ul .activo a{
    color: #898437;
    border-bottom: 2px solid;
}

.menu ul li:hover a{
    color: #898437;
}

.mostrar--menu{
    opacity: 1;
    z-index: 999;
    visibility: initial;
}

#menuEscritorio{ display: none;}


.portada{
    width: calc(100vw - var(--scrollbar));
    height: 100vh;
}

#particles-js{
    position: relative;
    width: inherit;
    height: 100vh;
    background-color: #1a2d35;
    background-image: url(../recursos/img-fondo.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}

.presentacion{
    position: absolute;
    width: inherit;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion-contenedor{
    width: 90%;
    padding-top: 50px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-presentacion{
    width: 200px;
    height: 240px;
    border-radius: 50%;
}

.img-presentacion img{
    width: 80%;
    height: 90%;
    border-radius: inherit;
    object-fit: cover;
    filter: brightness(105%);
    border: 2px solid #ebebeb;
}

.content-presentacion{
    margin: 0;
}

.contenedor-principal{
    width: 90%;
    height: auto;
    margin: 50px auto;
    text-align: center;
    scroll-behavior: smooth;
}

.content-presentacion h2,
.content-presentacion p{
    color: #cacaca;
}

.content-presentacion h2{
    font-size: 50px;
}

.content-presentacion h2:nth-child(2){
    color: #898437;
    background: linear-gradient(#b5b282, #403d03) ;
    -webkit-background-clip: text;
}

.content-presentacion p{
    font-size: 25px;
    color: #cacaca;
}

.principal{
    width: calc(100vw - var(--scrollbar));
    height: auto;
    background-color: #00161e;
}

.acerca-de,
.habilidades{
    padding: 90px 0 120px;
    border-bottom: 1px solid #515250;
}

.acerca-de p,
.acerca-de h2{
    color: white;
}

.principal h2{
    width: fit-content;
    margin: 30px auto 50px;
    color: transparent;
    background: linear-gradient(#b5b282, #403d03) ;
    -webkit-background-clip: text;
    padding-bottom: 5px;
    border-bottom: 5px solid  #403d03;
    font-size: 3.5rem;
    letter-spacing: 3px;
}

.contenedor-principal{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* =====| Acerca de |===== */

.informacion p {
    letter-spacing: 1.5px;
    line-height: 25px;
}

.button-CV{
    display: inline-block;
    background-color: #007DAB;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 50px 0;
    border: 3px solid transparent;
}

.button-CV:hover{
    background-color: rgb(227, 227, 227);
    border: 3px solid #007DAB;
    color: #007DAB;
}

/* =====| Habilidades |====== */

.habilidades h2{
    font-size: 3rem;
}

.habilidades h2:nth-child(2){
    margin: 50px auto;
}

.grid-habilidades{
    background-color: #112E38;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-habilidades{
    /* Hubo cambio */
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-color: #29434c;
    margin: 10px 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-habilidades img{
    height: 70px;
    width: auto;
    margin-bottom: 20px;
    filter: none;
    transition: all .5s;
}

.img-habilidades p{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.img-habilidades:hover img{
    filter: none;
    height: 80px;
}

/* =====| Portafolio |===== */

.portafolio{
    border-bottom: 1px solid #515250;
    padding: 90px 0 120px;
}

.grid-portafolio{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 50px;
}

.proyecto{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #112E38;
    border-radius: 10px;
}

.proyecto__img{
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.proyecto__descripcion{
    width: 100%;
}

.proyecto__descripcion p{
    color: white;
    line-height: 25px;
    padding: 15px 0;
    letter-spacing: 1.5px;
}

.descripcion-enlaces{
    display: block;
}

.descripcion-enlaces a{
    padding: 10px;
    background-color: #004F6B;
    border-radius: 5px;
    min-width: 120px;
    color: #ebebeb;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    margin: 10px 0 0;
    text-align: center;
    justify-content: center;
}

.descripcion-enlaces a:first-child{
    margin: 0;
}

/* =====| Contactos |===== */

.contactos{
    margin: 30px 0 30px;
    padding: 60px 0;
}

.contactos > p{
    color: white;
    padding: 0 15px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.grid-contactos,
.grid-contactos *{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-contactos{
    width: 100%;
    justify-content: space-evenly;
    margin: 50px 0 30px;
}

.contactos__item{
    display: block;
    width: 50px;
    cursor: pointer;
}

.contactos__item a{
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* -webkit-box-pack: center;
    -webkit-box-align: center; */
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.contactos__item a svg{ fill: #00161e; }

/* =====| footer |===== */

.footer{
    padding: 20px 0;
    border-top: 1px solid #F3F3F3;
}

.footer p{
    color: #F3F3F3;
    letter-spacing: 1.5px;
}


@media screen and (min-width: 48em){
    .img-habilidades img{
        filter: grayscale(100%);
    }

    .presentacion-contenedor{
        flex-direction: row;
        max-height: 600px;
    }

    .content-presentacion{
        height: inherit;
        margin-left: 25px;
        margin-top: 0;
    }

    .contenedor-principal{
        width: 70%;
    }

    .img-presentacion img{
        filter: brightness(100%);
    }
}

@media screen and (min-width: 65em) {
    .menu-pagina{ display: none;}

    #menuEscritorio{
        opacity: 1;
        z-index: 5;
        position: relative;
        display: block;
        width: 60%;
        height: auto;
        background: transparent;
    }

    #menuEscritorio ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #menuEscritorio ul li{
        display: flex;
        flex-direction: column;
    }

    #menuEscritorio ul .activo a{
        background-color: transparent;
        color: #898437;
    }

    #menuEscritorio ul li a{
        padding-bottom: 3px;
        font-size: 1rem;
        font-family: sans-serif;
        color: white;
    }

    #menuEscritorio ul li:hover a{
        color: #898437;
    }
    
    #menuEscritorio ul li::after{
        content: '';
        width: 0px;
        height: 4px;
        border-radius: 5px;
        background-color: #898437;
        transition: .3s;
    }

    #menuEscritorio ul .activo::after,
    #menuEscritorio ul li:hover::after{
        width: 30px;
    }

    .img-habilidades{
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 75em){

    .contenedor-principal{
        width: 65%;
    }

    .proyecto{
        display: flex;
    }
    
    .proyecto:nth-child(2n+0){
        display: flex;
        flex-direction: row-reverse;
    }

    .proyecto__img{
        width: 60%;
    }
    .proyecto__descripcion{
        width: 40%;
        padding: 0 10px;
    }
}